@font-face {
  font-family: "alegreya_sans";
  src: url("../fonts/alegreyasans-black.woff2") format("woff2"), url("../fonts/alegreyasans-black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "alegreya_sans";
  src: url("../fonts/alegreyasans-blackitalic.woff2") format("woff2"), url("../fonts/alegreyasans-blackitalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "alegreya_sans";
  src: url("../fonts/alegreyasans-bold.woff2") format("woff2"), url("../fonts/alegreyasans-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "alegreya_sans";
  src: url("../fonts/alegreyasans-bolditalic.woff2") format("woff2"), url("../fonts/alegreyasans-bolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "alegreya_sans";
  src: url("../fonts/alegreyasans-extrabold.woff2") format("woff2"), url("../fonts/alegreyasans-extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "alegreya_sans";
  src: url("../fonts/alegreyasans-extrabolditalic.woff2") format("woff2"), url("../fonts/alegreyasans-extrabolditalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "alegreya_sans";
  src: url("../fonts/alegreyasans-italic.woff2") format("woff2"), url("../fonts/alegreyasans-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "alegreya_sans";
  src: url("../fonts/alegreyasans-light.woff2") format("woff2"), url("../fonts/alegreyasans-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "alegreya_sans";
  src: url("../fonts/alegreyasans-lightitalic.woff2") format("woff2"), url("../fonts/alegreyasans-lightitalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "alegreya_sans";
  src: url("../fonts/alegreyasans-medium.woff2") format("woff2"), url("../fonts/alegreyasans-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "alegreya_sans";
  src: url("../fonts/alegreyasans-mediumitalic.woff2") format("woff2"), url("../fonts/alegreyasans-mediumitalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "alegreya_sans";
  src: url("../fonts/alegreyasans-regular.woff2") format("woff2"), url("../fonts/alegreyasans-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "alegreya_sans";
  src: url("../fonts/alegreyasans-thin.woff2") format("woff2"), url("../fonts/alegreyasans-thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "alegreya_sans";
  src: url("../fonts/alegreyasans-thinitalic.woff2") format("woff2"), url("../fonts/alegreyasans-thinitalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "open_sans";
  src: url("../fonts/opensans-regular.woff2") format("woff2"), url("../fonst/opensans-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
html {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-size: 1rem;
  line-height: 1.42;
  font-family: "alegreya_sans", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  color: #000;
}

.body--menu-openned {
  height: 100vh;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

p {
  padding: 0;
  margin: 0;
}

svg {
  display: block;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  width: 98%;
  max-width: 58.75rem;
  margin: 0 auto;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  min-height: 40.625rem;
}
@media screen and (max-width: 768px) {
  .section {
    min-height: 62.5rem;
  }
}
@media screen and (max-width: 480px) {
  .section {
    min-height: 50rem;
  }
}

.section__title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.625rem;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
}
.section__title--left {
  text-align: left;
}
.section__title--green {
  color: #365a49;
}
@media screen and (max-width: 768px) {
  .section__title {
    text-align: center;
  }
}

.address__text {
  font-size: 1.3125rem;
  font-weight: 400;
  font-style: normal;
}

.arrow {
  position: absolute;
}
.arrow--left {
  left: -1.5625rem;
}
@media screen and (max-width: 768px) {
  .arrow--left {
    left: 9.375rem;
  }
}
@media screen and (max-width: 480px) {
  .arrow--left {
    left: 0.625rem;
  }
}
.arrow--left .arrow__img {
  transform: rotate(180deg);
}
.arrow--right {
  right: -1.5625rem;
}
@media screen and (max-width: 768px) {
  .arrow--right {
    right: 9.375rem;
  }
}
@media screen and (max-width: 480px) {
  .arrow--right {
    right: 0.625rem;
  }
}
@media screen and (max-width: 768px) {
  .arrow {
    top: 12.5rem;
  }
}

.arrow__img {
  width: 0.8125rem;
  height: 1.75rem;
}

.bar {
  display: flex;
  justify-content: center;
  padding-bottom: 3.75rem;
}
@media screen and (max-width: 768px) {
  .bar {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
  }
}

.bar__pic {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2.5rem;
  width: 31.25rem;
  position: relative;
}
.bar__pic:before, .bar__pic:after {
  content: "";
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.bar__pic:before {
  height: 5.75rem;
  width: 4.6875rem;
  background-image: url("../images/content/leaves/4.png");
  left: 0;
  top: 8.125rem;
}
.bar__pic:after {
  height: 4.5625rem;
  width: 6.1875rem;
  background-image: url("../images/content/leaves/5.png");
  bottom: -0.3125rem;
  right: 1.875rem;
}
@media screen and (max-width: 768px) {
  .bar__pic {
    width: 25rem;
    margin-bottom: 2.5rem;
    margin-right: 0;
  }
  .bar__pic:before {
    left: -3.125rem;
    top: 3.125rem;
  }
  .bar__pic:after {
    bottom: -1.875rem;
    right: -1.5625rem;
  }
}

.bar__pic-img {
  flex-shrink: 0;
}

.bar__content {
  flex: 1;
  color: #000;
  height: 28.4375rem;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .bar__content {
    display: flex;
    align-items: center;
  }
}

.bar__composition {
  display: inline-block;
  margin-bottom: 1.875rem;
  cursor: pointer;
  position: relative;
}
.bar__composition:hover .bar__composition-block {
  display: block;
}
@media screen and (max-width: 768px) {
  .bar__composition {
    display: none;
  }
}

.bar__composition-btn {
  width: 5.625rem;
  height: 5.625rem;
  border-radius: 5px;
  color: #fff;
  background-color: #86c3d7;
  padding: 0.6875rem 1.25rem;
}

.bar__composition-text {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
}

.bar__composition-icon {
  width: 3.1875rem;
  height: 3.1875rem;
  fill: #fff;
  margin-bottom: 0.1875rem;
}

.bar__composition-block {
  display: none;
  width: 16.875rem;
  position: absolute;
  top: 0;
  left: 5.625rem;
  background-color: #fff;
  opacity: 0.95;
  padding: 1.5625rem 1.25rem 1.5625rem 2.0625rem;
  border: 0.0625rem solid #eee;
  border-radius: 5px;
}

.bar__title {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 2.5rem;
  margin-bottom: 0.9375rem;
}
@media screen and (max-width: 768px) {
  .bar__title {
    text-align: center;
  }
}

.bar__desc {
  margin-bottom: 2.1875rem;
  padding-right: 3.125rem;
}
@media screen and (max-width: 768px) {
  .bar__desc {
    text-align: center;
    padding-right: 6.25rem;
    padding-left: 6.25rem;
  }
}
@media screen and (max-width: 480px) {
  .bar__desc {
    margin-bottom: 0.9375rem;
  }
}

.bar__details {
  font-size: 1.125rem;
  display: flex;
  margin-bottom: 1.875rem;
}
@media screen and (max-width: 480px) {
  .bar__details {
    margin-bottom: 0.9375rem;
  }
}

.bar__kalory {
  margin-right: 3.125rem;
}

.bar__order {
  display: flex;
}

.bar__price {
  display: flex;
  align-items: center;
  margin-right: 2.1875rem;
}

.bar__price-curency-img {
  width: 1.5rem;
  height: 2rem;
}

.bar__desc,
.bar__kalory-text,
.bar__weight-text {
  color: #666;
}

.bar__kalory-value,
.bar__weight-value {
  font-weight: 700;
  color: #000;
}

.bar__price-value {
  font-size: 3.75rem;
  line-height: 3.75rem;
  font-weight: 300;
  margin-right: 0.625rem;
}

.bar__order-button:hover .btn--green {
  background-color: #2e4e3f;
  transition: 0.3;
}

.bars {
  background: #f8faf9;
}
@media screen and (max-width: 768px) {
  .bars {
    min-height: 51rem;
  }
}

.bars__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.bars__list {
  display: flex;
  position: relative;
  transition: right 0.3s;
  right: 0;
}

.bars__item {
  flex-shrink: 0;
  width: 60rem;
}
@media screen and (max-width: 768px) {
  .bars__item {
    width: 31.25rem;
  }
}
@media screen and (max-width: 480px) {
  .bars__item {
    width: 30rem;
  }
}

.bars__area {
  overflow: hidden;
  width: 60rem;
}
@media screen and (max-width: 768px) {
  .bars__area {
    width: 31.25rem;
  }
}
@media screen and (max-width: 480px) {
  .bars__area {
    width: 30rem;
  }
}

.benefit__wrap {
  display: flex;
}

.benefit__img {
  flex-shrink: 0;
  margin-right: 0.5625rem;
  fill: #c6f7ff;
  height: 2.625rem;
  width: 3.125rem;
}

.benefit__text {
  line-height: 1.2;
}

@media screen and (max-width: 768px) {
  .benefits {
    display: none;
  }
}

.benefits__list {
  display: flex;
}

.benefits__item {
  margin-right: 0.9375rem;
}
.benefits__item:last-child {
  margin-right: 0;
}

.btn {
  background: #fff;
  text-transform: uppercase;
  border-radius: 1.8125rem;
  font-size: 1.1875rem;
  color: #365a49;
  font-weight: 800;
  padding: 1.25rem 2.1875rem;
  line-height: 1;
  display: inline-block;
  border: none;
  cursor: pointer;
}
.btn--green {
  background: #365a49;
  color: #fff;
}
.btn--transparent {
  background: transparent;
}
.btn--reset {
  pointer-events: none;
}
.btn--reset span {
  pointer-events: all;
  text-transform: none;
  font-weight: 400;
}
.btn--reset span:hover {
  color: #000;
}

.composition {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 0.9375rem;
}
.composition:last-child {
  margin-bottom: 0;
}

.composition__icon {
  margin-right: 1.5625rem;
}

.composition__icon-img {
  width: 2.1875rem;
  height: 2.1875rem;
  flex-shrink: 0;
}

.composition__text {
  margin-right: auto;
}

.contacts {
  background: #666;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .phone {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .phone--footer {
    display: block;
  }
}
.phone--footer .phone__link {
  color: #365a49;
  font-style: normal;
  font-size: 1.3125rem;
}
@media screen and (max-width: 480px) {
  .phone--footer .phone__link {
    justify-content: center;
  }
}
.phone--footer .phone__icon {
  fill: #365a49;
}

.phone__link {
  display: flex;
  align-self: center;
  font-size: 1.5rem;
}

.phone__icon {
  height: 0.75rem;
  width: 0.75rem;
  fill: #fff;
  align-self: center;
  margin-right: 0.3125rem;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .feature {
    flex-direction: row;
  }
}

.feature__details {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .feature__details {
    text-align: left;
  }
}

.feature__title {
  font-size: 1.6875rem;
  font-weight: 700;
  margin-bottom: 1.5625rem;
  line-height: 1;
}
@media screen and (max-width: 480px) {
  .feature__title {
    margin-bottom: 0.9375rem;
  }
}

.feature__text {
  color: #666;
}
@media screen and (max-width: 480px) {
  .feature__text {
    font-size: 1.125rem;
  }
}

.feature__icon {
  width: 7.8125rem;
  height: 7.8125rem;
  border-radius: 50%;
  background-color: #f2f5f4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.875rem;
  position: relative;
}
.feature__icon:after {
  content: "";
  background: url("../images/icons/dots.png") no-repeat;
  width: 4.25rem;
  height: 1.375rem;
  top: 50%;
  right: -8.75rem;
  transform: translateY(-50%);
  position: absolute;
}
@media screen and (max-width: 768px) {
  .feature__icon:after {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .feature__icon {
    margin-right: 0.8125rem;
    flex-shrink: 0;
    margin-bottom: 0;
  }
}

.feature__icon-img {
  width: 4.6875rem;
  height: 4.375rem;
}

.features {
  background: url("../images/content/bg/feature_leaf.png") left 55% no-repeat;
  position: relative;
}
@media screen and (max-width: 768px) {
  .features {
    background-position: left 11%;
  }
}
.features:after {
  content: "";
  background: url("../images/content/berries/3.png") no-repeat;
  height: 19.6875rem;
  width: 10.0625rem;
  position: absolute;
  bottom: -6.875rem;
  left: 0;
}
@media screen and (max-width: 768px) {
  .features:after {
    background-size: cover;
  }
}
@media screen and (max-width: 480px) {
  .features {
    background: none;
  }
  .features:after {
    display: none;
  }
}

.features__text {
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 480px) {
  .features__text {
    margin-bottom: 3.125rem;
  }
}

.features__desc {
  text-align: center;
  font-size: 1.125rem;
  color: #666;
}

.features__list {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .features__list {
    flex-direction: column;
    padding: 0 5%;
  }
}

.features__item {
  width: calc(100% / 3 - 53px);
}
@media screen and (max-width: 768px) {
  .features__item {
    width: calc(100% / 3 - 20px);
  }
}
@media screen and (max-width: 480px) {
  .features__item {
    width: auto;
    margin-bottom: 2.5rem;
  }
  .features__item:last-child {
    margin-bottom: 0;
  }
}
.features__item:last-child .feature__icon:after {
  display: none;
}

.fixed-menu {
  position: fixed;
  top: 13.4375rem;
  right: 2.5rem;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__link {
  width: 1rem;
  height: 1rem;
  display: block;
  position: relative;
}
.fixed-menu__link:after, .fixed-menu__link:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.fixed-menu__link:after {
  width: 0.375rem;
  height: 0.375rem;
  background: #fff;
}
.fixed-menu__link:before {
  width: 0rem;
  height: 0rem;
  border-radius: 50%;
  border: 0.0625rem solid #fff;
  opacity: 0;
  transition: 0.3s;
}
.fixed-menu__link:hover:before {
  width: 0.875rem;
  height: 0.875rem;
  opacity: 1;
}

.fixed-menu__item.active .fixed-menu__link:before {
  width: 0.875rem;
  height: 0.875rem;
  opacity: 1;
}

.fixed-menu__item {
  margin-bottom: 0.3125rem;
}

.footer {
  background: #fff;
  padding: 0.625rem 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 1.25rem 0;
  }
}

.footer__col {
  width: 50%;
  display: flex;
  align-items: center;
}
.footer__col--right {
  text-align: right;
  justify-content: flex-end;
}
@media screen and (max-width: 480px) {
  .footer__col {
    width: 100%;
    justify-content: center;
    margin-bottom: 0.625rem;
  }
  .footer__col:last-child {
    margin-bottom: 0;
  }
}

.footer__container {
  display: flex;
}
@media screen and (max-width: 480px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.hamburger-menu__icon {
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger-menu__icon {
    display: block;
  }
}

.hamburger-menu__icon-img {
  height: 1.5625rem;
  width: 1.5625rem;
  fill: #fff;
}

.hamburger-menu__close {
  display: none;
}

.hamburger-menu__close-icon {
  fill: #fff;
  height: 1.25rem;
  width: 1.25rem;
  position: absolute;
  top: 5%;
  right: 5%;
}

.header {
  margin-top: 1.5625rem;
  position: relative;
  z-index: 1;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .header__container {
    padding: 0 1.25rem;
  }
}

.hero {
  background: #86c3d7 url(../images/content/bg/hero_leaf.png) right bottom/contain no-repeat;
  color: #fff;
  justify-content: flex-start;
}
@media screen and (max-width: 768px) {
  .hero {
    background-size: 65%;
    background-position-y: 15%;
  }
}

.hero__container {
  display: flex;
  justify-content: flex-start;
  position: relative;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .hero__container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .hero__container:after, .hero__container:before {
    display: none;
  }
}
.hero__container:after {
  content: "";
  background: url("../images/content/leaves/1.png") no-repeat;
  height: 7rem;
  width: 3.6875rem;
  position: absolute;
  bottom: -3rem;
  left: -3.125rem;
}
.hero__container:before {
  content: "";
  background: url("../images/content/berries/10.png") no-repeat;
  height: 7.625rem;
  width: 21.375rem;
  position: absolute;
  bottom: -3rem;
  right: 0.625rem;
}

.hero__content {
  flex: 1;
}

.hero__content-wrap {
  flex-direction: column;
  display: flex;
  flex: 1;
}
@media screen and (max-width: 768px) {
  .hero__content-wrap {
    align-items: center;
    flex: 0;
  }
}

.hero__desc {
  font-size: 1.3125rem;
  line-height: 1.5625rem;
  margin-bottom: 1.875rem;
  padding-right: 4.0625rem;
}
@media screen and (max-width: 768px) {
  .hero__desc {
    padding-right: 0;
    text-align: center;
    padding-right: 13.75rem;
    padding-left: 13.75rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__desc {
    padding: 0;
  }
}

.hero__text {
  margin-top: 5.9375rem;
}
@media screen and (max-width: 768px) {
  .hero__text {
    margin: 0;
  }
}

.hero__image {
  flex: 1;
}
@media screen and (max-width: 768px) {
  .hero__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    flex: 0;
  }
}

.hero__button {
  margin-bottom: 4.0625rem;
}
.logo__img {
  width: 3.4375rem;
  height: 2.5rem;
  fill: #fff;
}

@media screen and (max-width: 768px) {
  .member:last-child .member__desc {
    margin-bottom: 0;
  }
  .member .member__name {
    order: 1;
    margin-bottom: 0.625rem;
  }
  .member .member__name:after {
    border-top: 0.375rem solid #365a49;
    border-bottom-width: 0;
  }
  .member .member__avatar {
    order: 5;
    display: none;
  }
  .member .member__desc {
    order: 10;
  }
}
.member--desc-shown .member__desc {
  height: 100%;
}
.member--desc-shown .member__name:after {
  border-bottom: 0.375rem solid #365a49;
  border-top-width: 0;
}
@media screen and (max-width: 768px) {
  .member--desc-shown .member__wrap {
    position: initial;
  }
  .member--desc-shown .member__name:after {
    border-bottom: 0.375rem solid #365a49;
    border-top-width: 0;
  }
  .member--desc-shown .member__avatar {
    display: block;
  }
  .member--desc-shown .member__desc {
    margin-bottom: 0.625rem;
    position: initial;
    top: initial;
    left: initial;
  }
}

.member__wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.member__name {
  order: 5;
  text-align: center;
  font-size: 1.3125rem;
  font-weight: 700;
  position: relative;
}
.member__name:after {
  content: "";
  position: absolute;
  border: 0.25rem solid transparent;
  border-top: 0.375rem solid #365a49;
  border-bottom-width: 0;
  top: 0.8125rem;
  margin-left: 0.3125rem;
}
.member__name:before {
  content: "";
  display: block;
  left: -0.625rem;
  right: -1.5625rem;
  height: 1.5625rem;
  top: 0;
  position: absolute;
}

.member__desc {
  order: 10;
  height: 0;
  text-align: center;
  font-size: 1.125rem;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 100%;
}

.member__post {
  color: #2a2323;
}

.member__text {
  font-weight: 300;
  color: #666;
}

.member__avatar {
  order: 1;
  width: 13.8125rem;
  height: 18.0625rem;
  margin-bottom: 1.5625rem;
}
@media screen and (max-width: 480px) {
  .member__avatar {
    width: 8.9375rem;
    height: 11.625rem;
  }
}

.member__avatar-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.menu {
  background: #000 url("../images/content/menu/menu-bg.png") center center/cover no-repeat;
  color: #fff;
  position: relative;
  justify-content: flex-end;
  flex-direction: row;
}
.menu:before {
  content: "";
  background: url("../images/content/berries/5.png") no-repeat;
  height: 7.125rem;
  width: 6.5rem;
  position: absolute;
  top: -4.375rem;
  left: 2.1875rem;
}
@media screen and (max-width: 768px) {
  .menu:before {
    background-size: cover;
    width: 5.1875rem;
    height: 5.625rem;
  }
}
.menu .section__title {
  position: absolute;
  top: 13%;
  left: 7%;
}

.menu__akkordeon {
  display: flex;
}

.menu__akkordeon-item {
  display: flex;
}

.menu__element--milk .menu__element-title {
  background: #000 url("../images/content/menu/milk.png") center center/cover no-repeat;
  opacity: 0.9;
}
.menu__element--honey .menu__element-title {
  background: #000 url("../images/content/menu/honey.png") center center/cover no-repeat;
  opacity: 0.9;
}
.menu__element--berries .menu__element-title {
  background: #000 url("../images/content/menu/berries.png") center center/cover no-repeat;
  opacity: 0.9;
}
.menu__element--openned .menu__element-desc {
  width: 33.125rem;
}
@media screen and (max-width: 768px) {
  .menu__element--openned .menu__element-desc {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .menu__element--openned {
    width: 100%;
  }
}

.menu__element-title {
  width: 6.25rem;
  position: relative;
  flex-shrink: 0;
}
@media screen and (max-width: 768px) {
  .menu__element-title {
    width: 5rem;
  }
}

.menu__element-title-text {
  position: absolute;
  transform: rotate(-90deg) translateY(-50%);
  transform-origin: 0 0;
  font-size: 3rem;
  font-weight: 700;
  left: 50%;
  top: 94%;
  text-align: center;
  white-space: nowrap;
}

.menu__element-desc {
  background: #333537;
  opacity: 0.95;
  width: 0;
  overflow: hidden;
  position: relative;
}

.menu__element-close-icon {
  fill: #fff;
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  top: 4%;
  right: 6%;
}

.menu__element-text {
  padding: 2.9375rem 3.75rem 0 1.875rem;
  line-height: 1.5rem;
}
@media screen and (max-width: 480px) {
  .menu__element-text {
    padding: 3.75rem 0.9375rem 0 0.9375rem;
  }
}

.modal {
  background-color: #333537;
  opacity: 0.97;
}

.modal__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__content {
  background-color: #fff;
  width: 18.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.875rem;
}

.modal__content-text {
  margin-bottom: 1.25rem;
  font-weight: 400;
  font-size: 1.125rem;
  text-align: center;
}

.nav {
  flex: 1;
}
@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }
  .nav--hamburger {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #333537;
    opacity: 0;
    color: #fff;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5;
    width: auto;
  }
  .nav--hamburger .nav__list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .nav--hamburger .nav__item {
    text-align: center;
    margin-bottom: 1.25rem;
  }
  .nav--hamburger .nav__item:last-child {
    margin-bottom: 0;
  }
  .nav--hamburger .nav__link {
    font-size: 2.25rem;
  }
}
@media screen and (max-width: 768px) {
  .nav--hamburger-visible {
    display: flex;
    z-index: 100;
    opacity: 0.99;
  }
  .nav--hamburger-visible .hamburger-menu__close {
    display: block;
  }
}

.nav__list {
  display: flex;
  justify-content: space-evenly;
}

.nav__item {
  white-space: nowrap;
}
.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  font-size: 1.125rem;
  font-weight: 400;
}

.order {
  background: #d2ddd9 url("../images/content/bg/order_pattern.png") center center/cover no-repeat;
}
.order .section__title {
  margin-bottom: 1.875rem;
}

.order__form {
  position: relative;
}
.order__form:before {
  content: "";
  background: url("../images/content/berries/8.png") no-repeat;
  height: 3rem;
  width: 2.9375rem;
  position: absolute;
  bottom: -0.3125rem;
  left: 1.25rem;
}
.order__form:after {
  content: "";
  background: url("../images/content/leaves/10.png") no-repeat;
  height: 11.75rem;
  width: 8.4375rem;
  position: absolute;
  bottom: -0.3125rem;
  right: -0.3125rem;
}
@media screen and (max-width: 768px) {
  .order__form:after, .order__form:before {
    display: none;
  }
}

.order__form-wrap {
  display: flex;
  color: #365a49;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .order__form-wrap {
    align-items: center;
    width: 28.75rem;
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .order__form-wrap {
    padding: 0;
  }
}

.order__form-col {
  margin-right: 1.25rem;
  display: flex;
  flex: 1;
  flex-direction: column;
}
.order__form-col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .order__form-col {
    margin-right: 0;
    margin-bottom: 0.9375rem;
  }
  .order__form-col:last-child {
    margin-bottom: 0;
  }
}

.order__form-row {
  display: flex;
  margin-bottom: 0.9375rem;
}
.order__form-row--content {
  margin-bottom: 1.875rem;
}
@media screen and (max-width: 768px) {
  .order__form-row--content {
    flex-direction: column;
  }
}
.order__form-row:last-child {
  margin-bottom: 0;
}

.order__form-block {
  flex: 1;
  margin-right: 1.25rem;
  position: relative;
}
.order__form-block:last-child {
  margin-right: 0;
}

.order__block-title {
  margin-bottom: 0.25rem;
}

.order__form-input {
  width: 100%;
  border: none;
  padding: 1.25rem 0.6875rem;
  font-size: 1.125rem;
  font-family: "open_sans", "Arial", sans-serif;
  border: 0.1875rem solid transparent;
  outline: none;
}
.order__form-input:focus {
  border-color: #dee2bd;
}
@media screen and (max-width: 768px) {
  .order__form-input {
    font-size: 0.875rem;
    padding: 0.3125rem 0.6875rem;
  }
}

.order__block-title {
  font-size: 1.125rem;
}

.order__form-switches {
  margin-top: auto;
}

.order__form-buttons {
  width: calc(50% - 10px);
  margin-left: auto;
}
@media screen and (max-width: 768px) {
  .order__form-buttons {
    width: auto;
    margin-left: 0;
  }
}

.order__form-textarea {
  resize: none;
}
@media screen and (max-width: 768px) {
  .order__form-textarea {
    height: 5.625rem;
  }
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
}

@media screen and (max-width: 768px) {
  .phone {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .phone--footer {
    display: block;
  }
}
.phone--footer .phone__link {
  color: #365a49;
  font-style: normal;
  font-size: 1.3125rem;
}
@media screen and (max-width: 480px) {
  .phone--footer .phone__link {
    justify-content: center;
  }
}
.phone--footer .phone__icon {
  fill: #365a49;
}

.phone__link {
  display: flex;
  align-self: center;
  font-size: 1.5rem;
}

.phone__icon {
  height: 0.75rem;
  width: 0.75rem;
  fill: #fff;
  align-self: center;
  margin-right: 0.3125rem;
}

.review {
  margin-bottom: 1.5625rem;
  position: relative;
  overflow: hidden;
}
.review:before {
  content: "";
  width: 5.625rem;
  height: 5.625rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: -3.9375rem;
  left: 50%;
  transform: translateX(-50%);
}

.review__container {
  display: flex;
  background: #f8faf9 url("../images/content/leaves/6.png") right top no-repeat;
  background-size: 7.9375rem 10.4375rem;
  padding: 3.25rem 0 2.125rem 2.875rem;
}
@media screen and (max-width: 768px) {
  .review__container {
    flex-direction: column;
    align-items: center;
    padding-right: 1.375rem;
    padding-left: 1.375rem;
  }
}

.review__details {
  width: 52%;
}
@media screen and (max-width: 768px) {
  .review__details {
    width: auto;
    text-align: center;
  }
}

.review__title {
  font-size: 1.875rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
  margin-top: 0.4375rem;
}
@media screen and (max-width: 768px) {
  .review__title {
    margin-top: 0;
  }
}

.review__text {
  color: #666;
  font-size: 1.125rem;
  margin-bottom: 1.875rem;
  line-height: 1.2;
}

.review__user {
  font-size: 1.125rem;
  font-weight: 500;
}

.review__avatar {
  width: 15.9375rem;
  height: 16.25rem;
  margin-right: 1.25rem;
}
@media screen and (max-width: 768px) {
  .review__avatar {
    margin-right: 0;
    width: 8.1875rem;
    height: 8.3125rem;
    margin-bottom: 1.875rem;
  }
}

.review__avatar-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.reviews {
  background: url("../images/content/berries/6.png") 99% 6% no-repeat;
}
@media screen and (max-width: 768px) {
  .reviews {
    background-size: 7.0625rem 4.9375rem;
  }
}
.reviews .section__title {
  margin-bottom: 1.875rem;
}

.reviews__item {
  margin-right: 0.625rem;
}
.reviews__item:last-child {
  margin-right: 0;
}

.reviews__item--selected .reviews__item-avatar {
  border: 0.375rem solid #365a49;
  box-sizing: content-box;
}

.reviews__item-avatar {
  width: 4.25rem;
  height: 4.25rem;
  border-radius: 50%;
  overflow: hidden;
  display: block;
}

.reviews__item-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.reviews__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews__item-details {
  display: none;
}

.social__icon {
  width: 1.25rem;
  height: 1.25rem;
  fill: #B3B3B3;
}

.socials__list {
  display: flex;
}

.socials__item {
  margin-left: 1.25rem;
}
.socials__item:first-child {
  margin-left: 0;
}
.socials__item:hover .social__icon {
  fill: #000;
}

.switch-controls {
  display: flex;
  flex-direction: column;
}

.switch-controls__row {
  display: flex;
  margin-bottom: 0.625rem;
}
.switch-controls__row:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 480px) {
  .switch-controls__row {
    justify-content: center;
  }
}

.switch-controls__elem {
  display: none;
}

.switch-controls__block-title {
  font-size: 1.125rem;
  color: #365a49;
  margin-left: 0.3125rem;
}

.switch-controls__block {
  display: flex;
  margin-right: 1.5625rem;
  align-items: center;
  position: relative;
  padding-left: 1.875rem;
}

.switch-controls__block:last-child {
  margin-right: 0;
}

.switch-controls__block-title:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.625rem;
  width: 1.625rem;
  background: #fff;
  border-radius: 50%;
  content: "";
}

.switch-controls__elem:checked + .switch-controls__block-title:after {
  position: absolute;
  top: 0.4375rem;
  left: 0.4375rem;
  content: "";
  height: 0.8125rem;
  width: 0.8125rem;
  border-radius: 50%;
  background-color: #365a49;
}

.switch-controls__block--checkbox .switch-controls__block-title:before {
  height: 1.5625rem;
  border-radius: 0;
}
.switch-controls__block--checkbox .switch-controls__elem:checked + .switch-controls__block-title:after {
  left: 0.5625rem;
  top: 0.3125rem;
  width: 0.3125rem;
  height: 0.625rem;
  border-radius: 0;
  background-color: transparent;
  border: solid #365a49;
  border-width: 0 0.1875rem 0.1875rem 0;
  transform: rotate(45deg);
}

.team {
  position: relative;
}
.team:before {
  content: "";
  background: url("../images/content/leaves/11.png") no-repeat;
  background-size: cover;
  height: 28.3125rem;
  width: 12.25rem;
  position: absolute;
  top: -15rem;
  right: 0;
}
@media screen and (max-width: 768px) {
  .team:before {
    width: 9.8125rem;
    height: 22.625rem;
    background-size: 80% 80%;
    top: -12.5rem;
    top: -8.75rem;
    right: -1.875rem;
  }
}
.team .section__title {
  margin-bottom: 3.125rem;
}

.team__akkordeon {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .team__akkordeon {
    flex-direction: column;
    align-items: center;
  }
}

.team__akkordeon-item {
  width: 13.8125rem;
  margin-right: 1.25rem;
}
.team__akkordeon-item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .team__akkordeon-item {
    margin-right: 0;
  }
}

.work {
  background: #f8faf9 url("../images/content/work/work-bg.png") center center no-repeat;
  position: relative;
}
.work:before {
  content: "";
  background: url("../images/content/berries/11.png") no-repeat;
  background-size: cover;
  height: 20.0625rem;
  width: 9.375rem;
  position: absolute;
  top: -10rem;
  left: 0;
}
@media screen and (max-width: 768px) {
  .work:before {
    width: 8.75rem;
    height: 19.8125rem;
    background-size: 8.75rem 19.8125rem;
  }
}
.work:after {
  content: "";
  background: url("../images/content/leaves/9.png") no-repeat;
  height: 16.5rem;
  width: 15.125rem;
  position: absolute;
  bottom: -6.5625rem;
  right: -3.125rem;
}
@media screen and (max-width: 768px) {
  .work:after {
    height: 9.25rem;
    width: 8.5rem;
    background-size: 8.5rem 9.25rem;
    bottom: -4.0625rem;
    right: -1.875rem;
  }
}