.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  &--left {
    left: rem(-25px);

    @include phones {
      left: rem(-20px);
    }

    .arrow__img {
      transform: rotate(180deg);
    }
  }

  &--right {
    right: rem(-25px);

    @include phones {
      right: rem(-20px);
    }
  }

  @include tablets {
    top: rem(200px);
  }
}

.arrow__img {
  width: rem(13px);
  height: rem(28px);
}