.bars {
  background: $light_grey; 

  @include tablets {
    min-height: rem(816px);
  }
}

.bars__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.bars__list {
  display: flex;
  width: rem(940px);

  @include tablets {
    width: rem(580px);
  }

  @include phones {
    width: rem(490px);
  }
}

.bars__item {
  flex-shrink: 0;
  width: rem(940px);

  @include tablets {
    width: rem(580px);
  }

  @include phones {
    width: rem(490px);
  }
}