.reviews {
  background: url("./images/content/berries/6.png") 99% 6% no-repeat;
  
  @include tablets {
    background-size: rem(113px) rem(79px);
  }
}

.reviews__title{
  margin-bottom: rem(30px);
}

.reviews__list {
  display: flex;
}

.reviews__item {
  flex-shrink: 0;
}

.reviews__list,
.reviews__item {
  width: rem(940px);

  @include tablets {
    width: rem(770px);
  }

  @include phones {
    width: rem(520px);
  }
}

.reviews__container {
  display: flex;
  justify-content: center;
  align-items: center;
}