.slider {
  position: relative;
}

.slider__area {
  overflow: hidden;
}

.slider__list {
  transition: transform 1s;
}

.slider__dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__dot-item {
  margin-right: rem(10px);

  &:last-child {
    margin-right: 0;
  }
}

.slider__dot-item {
  &.active {
    .review__avatar {
      border: rem(6px) solid $green;
      box-sizing: content-box;
    }
  }
}
