.bars {
  background: $light_grey; 

  @include tablets {
    min-height: rem(816px);
  }
}

.bars__container {
  display: flex;
  align-items: center;
  position: relative;
}

.bars__list {
  display: flex;
}

.bars__window {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.bars__area {
  overflow: hidden;
  display: flex;
}