.benefit__wrap {
  display: flex;
}

.benefit__img {
  flex-shrink: 0;
  margin-right: rem(9px);
  fill: $light_blue;
  height: rem(42px);
  width: rem(50px);
}

.benefit__text {
  line-height: 1.2;
}