.features {
  background: url("../images/content/bg/feature_leaf.png") left 55% no-repeat;
}

.features__container {
  position: relative;

  &:after {
    content: "";
    background: url("../images/content/berries/3.png") no-repeat;
    height: 315px;
    width: 161px;
    position: absolute;
    bottom: -110px;
    left: -80px;
  }
}

.features__text {
  margin-bottom: 40px;
}

.features__desc {
  text-align: center;
  font-size: 18px;
  color: $grey;
}

.features__list {
  display: flex;
  justify-content: space-between;
}

.features__item {
  width: calc(100% / 3 - 53px);
  position: relative;

  &:after {
    content: "";
    background: url("../images/icons/other/dots.png") no-repeat;
    width: 68px;
    height: 22px;
    top: 25%;
    right: -75px;
    transform: translateY(-50%);
    position: absolute;
  }

  &:last-child:after {
    display: none;
  }
}
