.hamburger-menu__icon {
  display: none;

  @include tablets {
    display: block;
  }
}

.hamburger-menu__icon-img {
  height: rem(25px);
  width: rem(25px);
  fill: $white;
}

.hamburger-menu__close-icon {
  fill: $white;
  height: rem(20px);
  width: rem(20px);
  position: absolute;
  top: 5%;
  right: 5%;
}