.header {
  margin-top: rem(25px);
  position: relative;
  z-index: 1;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tablets {
    padding: 0 rem(20px);
  }
}

