.hero {
  background: #86c3d7 url(../images/content/bg/hero_leaf.png) right bottom/contain no-repeat;
  color: $white;
}

.hero__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;

  &:after {
    content: "";
    background: url("../images/content/leaves/1.png") no-repeat;
    height: 112px;
    width: 59px;
    position: absolute;
    bottom: -50px;
    left: -50px;
  }

  &:before {
    content: "";
    background: url("../images/content/berries/10.png") no-repeat;
    height: 122px;
    width: 342px;
    position: absolute;
    bottom: -48px;
    right: 10px;
  }
}

.hero__content {
  display: flex;
}

.hero__content-wrap {
  flex: 1;
}

.hero__desc {
  font-size: 21px;
  line-height: 25px;
  margin-bottom: 30px;
}

.hero__button {
  margin-bottom: 70px;
}

.hero__text {
  margin-top: 120px;
}