.menu {
  background: $black url("../images/content/menu/menu-bg.png") center center / cover no-repeat;
  color: $white;
  position: relative;

  &:before {
    content: "";
    background: url("../images/content/berries/5.png") no-repeat;
    height: 114px;
    width: 104px;
    position: absolute;
    top: -70px;
    left: 35px;
  }

  .section__title {
    position: absolute;
    top: 13%;
    left: 7%;
  }
}

.menu__akkordeon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
}

.menu__akkordeon-item {
  display: flex;
}

.menu__element {
  $bg_list: 'milk', 'honey', 'berries';

  @each $bg in $bg_list {
    &--#{$bg} {
      background: #000 url('../images/content/menu/#{$bg}.png') center center /cover no-repeat; 
      opacity: 0.9;
    }
  }

  &--openned {
    .menu__element-desc {
      width: 530px;
    }
  }
}

.menu__element-title {
  width: 100px;
  display: block;
  height: 100%;
  position: relative;
}

.menu__element-title-text {
  position: absolute;
  transform: rotate(-90deg) translateY(-50%);
  transform-origin: 0 0;
  font-size: 48px;
  font-weight: 700;
  left: 50%;
  top: 94%;
	text-align: center;
	white-space: nowrap;
}

.menu__element-desc {
  background: #333537;
  width: 0;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.menu__element-close {
  fill: $white;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 4%;
  right: 6%;
}

.menu__element-text {
  padding: 47px 120px 0 30px;
  line-height: 24px;
}