.menu {
  background: $black url("../images/content/menu/menu-bg.png") center center / cover no-repeat;
  color: $white;
  position: relative;

  &:before {
    content: "";
    background: url("../images/content/berries/5.png") no-repeat;
    height: 114px;
    width: 104px;
    position: absolute;
    top: -70px;
    left: 35px;
  }

  .section__title {
    position: absolute;
    top: 13%;
    left: 7%;
  }
}

.menu__akkordeon {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
}

.menu__akkordeon-item {
  height: 100%;
}

// .menu__element-desc {
//   background: #333537;
//   width: 530px;
// }

.menu__element-title {
  width: 100px;
  display: block;
  height: 100%;
  position: relative;
}

.menu__element-title-text {
  position: absolute;
  transform: rotate(-90deg) translateY(-50%);
  transform-origin: 0 0;
  height: 100%;
  font-size: 24px;
  left: 50%;
  top: 100%;
}

// .menu__element-wrap {
//   display: flex;
// }