.phone {
  &--footer {
    .phone__link {
      color: $green;
      font-style: normal;
      font-size: 21px;
    }

    .phone__icon {
      fill: $green;
    }
  }
}

.phone__link {
  display: flex;
  align-self: center;
  font-size: 24px;
}

.phone__icon {
  height: 12px;
  width: 12px;
  fill: $white;
  align-self: center;
  margin-right: 5px;
}