.reviews {
  background: url("../images/content/berries/6.png") 98.5% 6% no-repeat;
}

.reviews__container {
  position: relative;

  &:after {
    content: "";
    background: url("../images/content/berries/11.png") no-repeat;
    height: 321px;
    width: 139px;
    position: absolute;
    bottom: -160px;
    left: -80px;
  }
}

.reviews__item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.reviews__item--selected {
  .reviews__item-avatar {
    border: 6px solid $green;
    box-sizing: content-box;
  }
}

.reviews__item-avatar {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  overflow: hidden;
}

.reviews__item-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.reviews__list {
  display: flex;
  justify-content: center;
  align-items: center;
}