.reviews {
  background: url("../images/content/berries/6.png") 99% 6% no-repeat;

  .section__title {
    margin-bottom: 30px;
  }
}

.reviews__item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.reviews__item--selected {
  .reviews__item-avatar {
    border: 6px solid $green;
    box-sizing: content-box;
  }
}

.reviews__item-avatar {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  overflow: hidden;
}

.reviews__item-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.reviews__list {
  display: flex;
  justify-content: center;
  align-items: center;
}