.team {
  position: relative;

  &:before {
    content: "";
    background: url("../images/content/leaves/11.png") no-repeat;
    height: 453px;
    width: 196px;
    position: absolute;
    top: -240px;
    right: 0;
  }

  .section__title {
    margin-bottom: 50px;
  }
}

.team__akkordeon {
  display: flex;
  justify-content: center;
}

.team__akkordeon-item {
  width: 221px; 
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}