.work {
  background: $light_grey url("../images/content/work/work-bg.png") center center no-repeat;
  position: relative;

  &:before {
    content: "";
    background: url("../images/content/berries/11.png") no-repeat;
    background-size: cover;
    height: rem(321px);
    width: rem(150px);
    position: absolute;
    top: rem(-160px);
    left: 0;
  }

  &:after {
    content: "";
    background: url("../images/content/leaves/9.png") no-repeat;
    height: rem(264px);
    width: rem(242px);
    position: absolute;
    bottom: rem(-105px);
    right: rem(-50px);
  }
}