.work {
  background: $light_grey url("../images/content/work/work-bg.png") center center no-repeat;
  position: relative;

  &:before {
    content: "";
    background: url("../images/content/berries/11.png") no-repeat;
    height: 321px;
    width: 139px;
    position: absolute;
    top: -160px;
    left: 0;
  }

  &:after {
    content: "";
    background: url("../images/content/leaves/9.png") no-repeat;
    height: 264px;
    width: 242px;
    position: absolute;
    bottom: -105px;
    right: -50px;
  }
}